<html>
  <head>
    <%= htmlWebpackPlugin.tags.headTags %>
    <style>
      body {
        margin: 0 !important;
        font-family: "Open Sans", Roboto, sans-serif;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>
    <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>
</html>
